openapi: 3.1.0
info:
  title: StreamVault — Studio Portal API
  version: 0.1.0
  description: Endpoints exposed by studio-bff to the Angular studio portal
servers:
  - url: https://studio-api.streamvault.io
security:
  - bearerAuth: []
paths:
  /v1/studio/upload:
    post:
      summary: Initiate a multipart mezzanine upload (returns presigned URL parts)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [filename, size_bytes, content_type]
              properties:
                filename:     { type: string }
                size_bytes:   { type: integer, format: int64 }
                content_type: { type: string }
                rights:       { type: object }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  upload_id:    { type: string }
                  part_urls:    { type: array, items: { type: string, format: uri } }
                  complete_url: { type: string, format: uri }

  /v1/studio/title/{id}:
    get:    { summary: Title metadata + delivery status, parameters: [{ in: path, name: id, required: true, schema: { type: string } }], responses: { '200': { description: ok } } }
    patch:  { summary: Update metadata / rights, parameters: [{ in: path, name: id, required: true, schema: { type: string } }], responses: { '204': { description: updated } } }
    delete: { summary: Withdraw title (DMCA / rights expiry), parameters: [{ in: path, name: id, required: true, schema: { type: string } }], responses: { '202': { description: takedown queued } } }

  /v1/studio/analytics/title/{id}:
    get:
      parameters:
        - { in: path,  name: id, required: true, schema: { type: string } }
        - { in: query, name: from, required: true, schema: { type: string, format: date } }
        - { in: query, name: to,   required: true, schema: { type: string, format: date } }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_streams:    { type: integer, format: int64 }
                  total_watch_min:  { type: integer, format: int64 }
                  completion_rate:  { type: number, format: float }
                  revenue_cents:    { type: integer, format: int64 }
                  top_geos:         { type: array, items: { type: object, properties: { country: { type: string }, streams: { type: integer } } } }

  /v1/studio/payout:
    get:  { summary: Latest payout statement, responses: { '200': { description: ok } } }
    post: { summary: Update bank details, requestBody: { required: true, content: { application/json: { schema: { type: object } } } }, responses: { '204': { description: updated } } }

components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: JWT }
